@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Aldrich";
  src: url("../../public/fonts/Aldrich-Regular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: url("../../public/background.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  margin-right: 3rem;
}

.top-bar {
  display: flex;
  width: 100%;
}

.navbar {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-gap: 20px; */
  width: 100%;
  float: right;
}

.navbar-flex-container {
  display: flex;
  width: 100%;
}

.navbar-btn {
  flex: 1;
  white-space: nowrap;
  width: 100%;
  height: 4ex;
  border-radius: 0;

  font-family: "Aldrich";
  font-weight: 900;
}
/* Navbar endcap shapes */
.navbar-btn:first-child {
  background-color: #770000;
  border-radius: 10px 0px 0px 10px;
}

/* Navbar connect to right */
.off-screen-navbar {
  position: absolute;
  top: 2.5rem;
  right: 0;
  height: 4ex;
  width: 25%;
  background-color: #770000;
  border-color: #770000;
}

/* Navbar Lines */
.navbar-btn:before {
  content : "";
  position: absolute;
  bottom  : center;
  height  : 65%;
  width: 100%;
  border-right: 1px solid white;
}
/* .navbar-flex-child:last-child .navbar-btn:before {
  border-right: 0px;
} */

.gif {
  position: relative;
  top: 150vh;
  min-width: 1px;
  min-height: 1px;
  width: 20vh;
  height: auto;
}



/* Content CSS */

.rotated-background {
  z-index: -1;
  position: relative;
  left: -10%;
  background-color: #77000086;
  width: 120%;
  height: auto;
  transform: rotateZ(-4deg);
  padding-left: 15%;
  padding-right: 15%;
}
.rotated-background > * {
  transform: rotateZ(4deg);
}

.content-flex-container {
  display: flex;
  text-align: center;
}

p {
  flex: 1;
  font-family: "Aldrich";
  display: inline;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: large;
}

h1 {
  font-family: "Aldrich";
  font-size: 3em;
  text-align: center;
}

.content-img {
  flex: 1;
}

.vert-spcr {
  height: 5em;
}

#rover {
  max-width: 35%;  
  object-fit: cover;
}

#arm {
  max-width: 32%;  
  height: auto;
  margin-right: 10%;
  margin-left: 3%;
  object-fit: cover;
}

#suspension {
  max-width: 42%; 
  height: auto;
  margin-left: 10%;
  margin-right: 3%;
  object-fit: cover;
}

#ter-img {

  margin-right: 22%;
  margin-left: 22%;
  
  height: 5%;
  width: auto;
  object-fit: cover;
}

#our-rover {
  max-width: 25%;
  margin-left: 5%;
}

.background-image {
  position: absolute;
  z-index: -10;
  width: 90%;
  left: 5%;
}

#mars {
  top: -125%;
}

#earth {
  transform: translate(0, 2.5rem);
}

.member-explorer {
  display: flex;
  
  height: auto;
  width: 90vw;
  border-radius: 10px;
  background-color: #77000086;
  overflow-x: scroll;
  text-align: center;

  padding: 2em;

  transform: translate(-5vw, 0) rotateZ(4deg);
}

#home {
  transform: translate(0, -2.5rem);
}

.card-img {
  height: auto;
  object-fit: cover;
}